body {
  background-image: url("background-photo-3.jpg");
  background-size: cover;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

h1 {
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 15px;
}

h2 {
  font-size: 300%;
  margin-top: 0%;
  margin-bottom: 15px;
}

button {
  padding: 1em;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1rem;
  width: 40%;
  margin-bottom: 10%;
  border-radius: 5px;
}

#increment-btn {
  background-color: rgb(123, 27, 27);
}
